* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 90dvh;
    width: 100%;
    border: 1px solid red;
    margin: auto;
}

@keyframes to_fro {
    0%{
        transform: translateX(0);
    }

    33%{
        transform: translateY(100%);
    }

    66%{
        background-color: blue;
        transform: translate(100%, 100%);
    }

    80%{
        transform: translateX(100%);
    }

    100%{
        translate: 0;
    }
 
}


.background{
    height: 40vh;
    width: 100%;
    border: 1px solid;
    background-image: url(./media/newbackgroung1.png);
    background-size: cover;
}

.vehicles{
    background-color: black;
    position: relative;
    height: 350px;
    border-bottom: 30px dashed white;
    margin-bottom: 50px;
}

.vehicles img{
    position: absolute;
    margin-top: auto;
}



.img1{
    top: -20px;  
    animation: img1 30s ease  infinite;
}

.img2{
    top: -10px;
    animation: img2 10s   infinite ;

}

.img3{
    top:-5px;
    animation: img2 8s   infinite reverse;
}

@keyframes img1 {
    0%{
        transform: translateX(-4000px);
    }

    100%{
        transform: translateX(2000px);
    }
    
}

@keyframes img2 {
    0%{
        transform: translateX(-4000px);
    }

    100%{
        transform: translateX(2000px);
    }
    
}

@keyframes img3 {
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-1000px);
    }
    
}